.json-view-editor {
  text-align: left;
  .json-item-compose {
    box-sizing: border-box;
  }
  .json-container {
    box-sizing: border-box;
  }
  .json-line {
    box-sizing: border-box;
  }
  .bold-font {
    font-weight: bold;
  }
  .white-space {
    white-space: pre;
  }
  .basic-row {
    box-sizing: border-box;
    padding-left: .2em;
  }
  .i-pointer {
    cursor: pointer;
  }
  .row-start {
    box-sizing: border-box;
    padding: 2px 0;
  }
  .row-end {
    box-sizing: border-box;
    padding: 2px 0;
  }

  .icon-down-arrow-normal {
    color: rgb(117, 130, 255)
  }
  .icon-right-arrow-normal {
    color: rgb(153, 54, 130);
  }
}
